<form class="container-fluid">
  <mat-toolbar class="title">
    <h1>Adicionar novo produto</h1>
  </mat-toolbar>

  <div class="forms">
    <mat-form-field class="form" appearance="fill">
      <mat-label>Produto</mat-label>
      <input
        [(ngModel)]="courses.nome"
        name="courses.name"
        matInput
        placeholder=""
      />
    </mat-form-field>
    <mat-form-field class="form" appearance="fill">
      <mat-label>Estoque</mat-label>
      <input
        [(ngModel)]="courses.estoque"
        name="courses.stock"
        matInput
        placeholder=""
      />
    </mat-form-field>
    <mat-form-field class="form" appearance="fill">
      <mat-label>Valor unitário</mat-label>
      <input
        [(ngModel)]="courses.valor"
        name="courses.unitaryValue"
        matInput
        placeholder=""
      />
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-stroked-button (click)="create()" color="primary">Criar</button>
    <button mat-stroked-button (click)="cancel()" color="warn">Voltar</button>
  </div>
</form>
