<form class="container-fluid">
  <mat-toolbar class="title">
      <h1>Adicionar novo produto</h1>
  </mat-toolbar>

  <div class="forms">
    <mat-form-field class="form" appearance="fill">
      <mat-label>Produto</mat-label>
      <input
        [(ngModel)]="courses.name"
        name="courses.name"
        matInput
        placeholder="Nome"
      />
    </mat-form-field>
    <mat-form-field class="form" appearance="fill">
      <mat-label>Valor unitário</mat-label>
      <input
        [(ngModel)]="courses.category"
        name="courses.category"
        matInput
        placeholder="Categoria"
      />
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-stroked-button (click)="create()" color="primary">Criar</button>
    <button mat-stroked-button (click)="cancel()" color="warn">Voltar</button>
  </div>
</form>
