<form>
  <h1>Criando nova matéria</h1>

  <div class="forms">
    <mat-form-field class="form" appearance="fill">
      <mat-label>Titulo</mat-label>
      <input [(ngModel)]="courses.name" name="courses.name" matInput placeholder="Nome" />
    </mat-form-field>
    <mat-form-field class="form" appearance="fill">
      <mat-label>Descricao</mat-label>
      <input [(ngModel)]="courses.category" name="courses.category" matInput placeholder="Categoria" />
    </mat-form-field>
  </div>

  <div class="buttons">
    <button mat-stroked-button (click)="create()" color="primary">Criar</button>
    <button mat-stroked-button (click)="cancel()" color="warn">Voltar</button>
  </div>
</form>
